<!doctype html>
<html>
  <head>
      <title>Alok Shakya</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/articleDisplay.css" rel="stylesheet" />

    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
      
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
    
  </head>
  <body ng-app="myApp">
    <div class="header">
      <div class="container">
        <h1>Alok Shakya</h1>
      </div>
    </div>
  

     <div class="main" ng-controller="MainController">
      <div class="container">

        <h1>{{ title }}</h1>
        <h2>{{ promo }}</h2>

         
        
        <div ng-repeat="product in products" class="col-md-6"> 
  <div class="thumbnail"> 
    <img ng-src="{{product.cover}}"> 
    <p class="title">{{ product.name }}</p> 
    <p class="price">{{ product.price | currency }}</p> 
    <p class="date">{{ product.pubdate | date }}</p>
    <div class="rating">
      <p class="likes" ng-click="plusOne($index)">+ Likes {{product.likes}} </p>
      <p class="dislikes" ng-click="minusOne($index)">- Dislikes {{product.dislikes}} </p>
    </div>
  </div> 
</div>

      </div> 
    </div> 
  <div class="conatainer" ng-controller="createUserCtrl">
        <legend>Sign Up Here</legend>
        <label>Name </label>
        <input type="text" name="name" ng-model="user.name" placeholder="Enter Your Name ">
        <label>Email </label>
        <input type="text" name="Email" ng-model="user.email" placeholder="Enter Your Email ">
        <label>Password </label>
        <input type="Password" name="Password" ng-model="user.password" placeholder="Enter Your Password ">
        <label>Re-Enter Password</label>
        <input type="password" placeholder="Re-Enter Password ">
        <button class="btn btn-success" type="submit" ng-click="createUser()">signUP</button>
        <p align="center"> {{data.message}} {{status}}</p>

        </div>
        
        <hr>
<div class="conatainer" ng-controller="loginController">
<legend>Login User</legend>
<label>Name </label>
<input type="text" name="name" ng-model="user.name" placeholder="Enter user name ">
<label>Password </label>
<input type="Password" name="Email" ng-model="user.password" placeholder="Enter Password ">
<button class="btn btn-success" type="submit" ng-click="loginUser()">Login</button>
<p align="center" class="h2"> {{data.message}} {{status}}</p>
</div>

 <hr>
 <div class="container" ng-controller="createArticleController">
      <form>
        <div class="form-group">
          <textarea ng-model="article.title" placeholder="Title"></textarea>
        </div>
        <div class="form-group">
          <textarea class="form-control" ng-model="article.category" rows="1" placeholder="Category"></textarea>
        </div>
        <div class="form-group">
          <textarea class="form-control status-box" ng-model="article.content" rows="4" placeholder="What's on your mind?"></textarea>
        </div>
      </form>
      <div class="button-group pull-right">
        <p class="counter">140</p>
        <button type="submit" class="btn btn-primary" ng-click="createArticle()">Post</button>
      </div>
      <p align="center" class="h2"> {{data.message}} {{status}}</p>
</div>

<hr>
<br>
     <div class="main" ng-controller="ArticleController">
      <div class="container">
          <p>article contents:</p><br>
          <p>{{ articles }}</p>
         <div class="container" ng-repeat="article in articles">
          <articleInfo info="article"></articleInfo>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <h2>Available for iPhone and Android.</h2>
        <img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="120px" />
        <img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="110px" />
      </div>
    </div>


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/createUserCtrl.js"></script>
    <script src="js/controllers/loginController.js"></script>
    <script src="js/controllers/createArticleController.js"></script>
    <script src="js/controllers/ArticleController.js"></script>
  </body>
</html>
