<!doctype html>
<html>
  <head>
      <title>Alok Shakya</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/articleDisplay.css" rel="stylesheet" />

    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
      
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
    <script src="js/ng-infinite-scroll.min.js"></script>
    
  </head>
  <body ng-app="myApp">
<!-- Start of Navigation Bar-->
		<nav class="navbar navbar-inverse navbar-static-top no-margin" role="navigation">
				<div class="container-fluid">
				<div class="navbar-header">
      				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-knit-navbar-collapse-1" aria-expanded="false">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      					</button>
      
					<a class="navbar-brand" href="https://www.facebook.com/alok.shakya.56">Alok Shakya</a>
				</div>
				<div class="collapse navbar-collapse navbar-right" id="bs-knit-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="#"><span class="glyphicon glyphicon-home" style="color: #fff;"></span> Create Article</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-text-background" style="color: #fff;"></span> About</a></li>
						
						<li><a href="#signup" data-toggle="modal"><span class="glyphicon glyphicon-user" style="color: #fff;"></span> SignUp</a></li>
            <li><a href="#logIn" data-toggle="modal"><span class="glyphicon glyphicon-log-in" style="color: #fff;"></span> Login</a></li>
						
        			</ul>
    			</div>
    			</div>

		</nav>
<!-- End of Navigation Bar -->

 
  <div class="conatainer" ng-controller="createUserCtrl">
        <legend>Sign Up Here</legend>
        <label>Name </label>
        <input type="text" name="name" ng-model="user.name" placeholder="Enter Your Name ">
        <label>Email </label>
        <input type="text" name="Email" ng-model="user.email" placeholder="Enter Your Email ">
        <label>Password </label>
        <input type="Password" name="Password" ng-model="user.password" placeholder="Enter Your Password ">
        <label>Re-Enter Password</label>
        <input type="password" placeholder="Re-Enter Password ">
        <button class="btn btn-success" type="submit" ng-click="createUser()">signUP</button>
        <p align="center"> {{data.message}} {{status}}</p>

        </div>
        
        <hr>
<div class="conatainer" ng-controller="loginController">
<legend>Login User</legend>
<label>Name </label>
<input type="text" name="name" ng-model="user.name" placeholder="Enter user name ">
<label>Password </label>
<input type="Password" name="Email" ng-model="user.password" placeholder="Enter Password ">
<button class="btn btn-success" type="submit" ng-click="loginUser()">Login</button>
<p align="center" class="h2"> {{data.message}} {{status}}</p>
</div>

 <hr>
 <div class="container" ng-controller="createArticleController">
      <form>
        <div class="form-group">
          <textarea ng-model="article.title" placeholder="Title"></textarea>
        </div>
        <div class="form-group">
          <textarea class="form-control" ng-model="article.category" rows="1" placeholder="Category"></textarea>
        </div>
        <div class="form-group">
          <textarea class="form-control status-box" ng-model="article.content" rows="4" placeholder="What's on your mind?"></textarea>
        </div>
      </form>
      <div class="button-group pull-right">
        <p class="counter">140</p>
        <button type="submit" class="btn btn-primary" ng-click="createArticle()">Post</button>
      </div>
      <p align="center" class="h2"> {{data.message}} {{status}}</p>
</div>

<hr>
<br>
<!--

     <div class="" ng-controller="ArticleController">
      
          <label class="title">Search: <input ng-model="searchTitle"></label>
          <div class="container" ng-repeat="article in articles | filter:searchTitle">
          <article-Info info="article"></article-Info><hr>
     
    </div>
    </div>
-->    
    
<div ng-controller="NextPageController">
<div infinite-scroll='article.nextPage()' infinite-scroll-disabled='article.busy' infinite-scroll-distance='1' >
     <div class="container" ng-repeat="article in article.articles | filter:searchTitle">
          <article-Info info="article"></article-Info><hr>
          
        </div>
    <div ng-show='article.busy'>Loading data...</div>
    <div ng-show='article.end'>No More articles present</div>
</div>
</div>

          

          
    
     

    <div class="footer">
      <div class="container">
        <h2>Available for iPhone and Android.</h2>
        <img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="120px" />
        <img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="110px" />
      </div>
    </div>


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/createUserCtrl.js"></script>
    <script src="js/controllers/loginController.js"></script>
    <script src="js/controllers/createArticleController.js"></script>
    <script src="js/controllers/createCommentController.js"></script>
    <script src="js/controllers/ArticleController.js"></script>
    <script src="js/controllers/CommentController.js"></script>
     <script src="js/controllers/NextPageController.js"></script>
    <script src="js/directives/articleInfo.js"></script>
    <script src="js/directives/commentInfo.js"></script>
  </body>
</html>
