<!doctype html>
<html>
  <head>
      <title>Alok Shakya</title>
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
    <script src="js/ng-infinite-scroll.min.js"></script>
  
<link href="css/articleDisplay.css" rel="stylesheet" />





  
      
      

    
  </head>
  <body ng-app="myApp">
<!-- Start of Navigation Bar-->
<div class="row">
    <div class="col-md-12">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#createArticle" data-toggle="modal"><span class="glyphicon glyphicon-unchecked" style="color: #fff;"></span> Create Article</a></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#signUp" data-toggle="modal"><span class="glyphicon glyphicon-user" style="color: #fff;"></span> SignUp</a></li>
        <li><a href="#login" data-toggle="modal"><span class="glyphicon glyphicon-log-in" style="color: #fff;"></span> Login</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
</div>
<!-- End of Navigation Bar -->

 
  <!--Start of Popupbox SignUP-->
  <div class="modal fade" id="signUp" role="dialog" ng-controller="createUserCtrl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p><h4>Enter Details to Sign Up!!</h4>
          <div class="modal-body">
              <!--from starts here-->
 <!-- <div class="row">-->
   <div class="col-md-12 col-md-offset-0">
    
    <form  id="signUp" role="form">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" ng-model="user.name" name="name" id="name" size="20" placeholder="Enter Name" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" ng-model="user.email" name="email" id="email" size="20" placeholder="Enter Email" required>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model="user.password" size="50" placeholder="Enter Password" name="password" required>
  </div>
  <div class="form-group">
    <label for="password1">Confirm Password</label>
    <input type="password" class="form-control" id="password1" size="50" placeholder="Re-Enter Password" name="password" required>
  </div>
    
  
  <button type="button" id="register_btn" class="btn btn-primary" ng-click="createUser()">SignUp</button>
  <button type="reset" class="btn btn-primary">Clear</button>
</form>
<p align="center" class="h2"> {{data.message}} {{status}}</p>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end of Popupbox SignUp-->
        
        
<!--Start of Popupbox login-->
  <div class="modal fade" id="login" role="dialog" ng-controller="loginController">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p><h4>Enter Credentials to Login!!</h4>
          <div class="modal-body">
              <!--from starts here-->
 <!-- <div class="row">-->
   <div class="col-md-12 col-md-offset-0">
    
    <form  id="login" role="form">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" ng-model="user.name" name="name" id="name" size="20" placeholder="Enter Name" required>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model="user.password" size="50" placeholder="Enter Password" name="password" required>
  </div>
    
  
  <button type="button" id="register_btn" class="btn btn-primary" ng-click="loginUser()">Login</button>
  <button type="reset" class="btn btn-primary">Clear</button>
</form>
<p align="center" class="h2"> {{data.message}} {{status}}</p>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end of Popupbox login-->

 
<!--Start of Popupbox createArticle-->
  <div class="modal fade" id="createArticle" role="dialog" ng-controller="createArticleController">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p><h4>Fill following Details to Create Article</h4>
          <div class="modal-body">
              <!--from starts here-->
 <!-- <div class="row">-->
   <div class="col-md-12 col-md-offset-0">
    
    <form  id="createArticle" role="form">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" ng-model="article.title" name="title" id="title" size="20" placeholder="Enter Title" required>
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" class="form-control" id="category" ng-model="article.category" size="50" placeholder="Enter Category" name="category" required>
  </div>
     <div class="form-group">
          <textarea class="form-control status-box" ng-model="article.content" rows="8" placeholder="What's on your mind?" required></textarea>
    </div>
  
  <button type="button" id="register_btn" class="btn btn-primary" ng-click="createArticle()">Submit</button>
  <button type="reset" class="btn btn-primary">Clear</button>
</form>
<p align="center" class="h2"> {{data.message}} {{status}}</p>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end of Popupbox createArticle-->


<br>
<!--

     <div class="" ng-controller="ArticleController">
      
          <label class="title">Search: <input ng-model="searchTitle"></label>
          <div class="container" ng-repeat="article in articles | filter:searchTitle">
          <article-Info info="article"></article-Info><hr>
     
    </div>
    </div>
-->    
    
<div ng-controller="NextPageController">
<div infinite-scroll='article.nextPage()' infinite-scroll-disabled='article.busy' infinite-scroll-distance='6' >
     <div class="container" ng-repeat="article in article.articles | filter:searchTitle">
          <article-Info info="article"></article-Info><hr>
          
        </div>
    <div ng-show='article.busy'>Loading data...</div>
    <div ng-show='article.end'>No More articles present</div>
</div>
</div>

          

          
    
     

    <div class="footer">
      <div class="container">
        <h2>Available for iPhone and Android.</h2>
        <img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="120px" />
        <img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="110px" />
      </div>
    </div>

      



    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/createUserCtrl.js"></script>
    <script src="js/controllers/loginController.js"></script>
    <script src="js/controllers/createArticleController.js"></script>
    <script src="js/controllers/createCommentController.js"></script>
    <script src="js/controllers/ArticleController.js"></script>
    <script src="js/controllers/CommentController.js"></script>
     <script src="js/controllers/NextPageController.js"></script>
    <script src="js/directives/articleInfo.js"></script>
    <script src="js/directives/commentInfo.js"></script>
  </body>
</html>
